<h1>Pokemon List</h1>
<h5>Listed below are all the pokemon on the database!</h5>
<div ng-repeat="product in products">
   <product-item item="product"></product-item>
</div>
<div ng-if="allowSaveCheck() && canSave()">
    <button ng-click='save()'>Submit</button>
    <button ng-click='cancel()'>Cancel</button>
</div>
<br/>


<button ng-show="!canAdd()" ng-click="triggerAdd()"> Add a Pokemon </button>
<!-- make it so that you can't add a blank pokemon -->
<div ng-show="canAdd()">
  <input ng-model="newProduct" />
  <button ng-click="submit()"> Add Pokemon </button>
  <button ng-click="triggerAdd()">Cancel</button>
</div>
